<!DOCTYPE html>
<html lang="en" ng-app="messageApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>User Registration</title>
    <link href="{{ elixir('css/app.css') }}" rel="stylesheet">
</head>
<body ng-controller="MainController as mainCtrl">
    <div class="container" ng-switch on="mainCtrl.auth()">
        <div class="col-md-3" >

            <div ng-switch-when="false">
                <div ng-include="'signin.html'"></div>
                <div ng-include="'registration.html'"></div>
            </div>


            <div ng-switch-when="true">
                <div ng-include="'profile.html'"></div>
            </div>
            <br/>

        </div>
        <div class="col-md-9">
            <div ng-switch-when="true">
                <div ng-include="'msgBox.html'"></div>
            </div>

            <div ng-include="'stream.html'"></div>
        </div>
    </div>
    <script src="//js.pusher.com/2.2/pusher.min.js"></script>
    <script src="{{ elixir('js/app.js') }}"></script>
    <script>
        angular.module('AppConfig').config(function (AppConfigProvider) {
            AppConfigProvider.set({
                userServiceUrl: '{{ app.environment.USER_SERVICE_URL }}',
                contentServiceUrl: '{{ app.environment.CONTENT_SERVICE_URL }}',
                pusherAppKey: '{{ app.environment.PUSHER_APP_KEY }}',
            });
        });
    </script>
</body>
</html>
