<!DOCTYPE html>
<html lang="en" ng-app="messageApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bootcamp app</title>
    <link href="{{ elixir('css/app.css') }}" rel="stylesheet">
</head>
<body>
    <ng-view></ng-view>

    <script src="//js.pusher.com/2.2/pusher.min.js"></script>
    <script src="{{ elixir('js/app.js') }}"></script>
    <script>
        angular.module('AppConfig').config(function (AppConfigProvider) {
            AppConfigProvider.set({
                subscriptionServiceUrl: '{{ app.environment.UI_SVC_SUBSCRIPTION_SERVICE_URL }}',
                userServiceUrl: '{{ app.environment.UI_SVC_USER_SERVICE_URL }}',
                contentServiceUrl: '{{ app.environment.UI_SVC_CONTENT_SERVICE_URL }}',
                pusherAppKey: '{{ app.environment.UI_SVC_PUSHER_APP_KEY }}',
            });
        });
    </script>
</body>
</html>
